<nav class="categorias">
    <a href="#" class="navlink">
        <img src="images/categorias/electronica.svg" alt="Icono de la categoria Electronica">
        <p>Electronica</p>
    </a>
    <a href="#" class="navlink">
        <img src="images/categorias/alimentos.svg" alt="Icono de la categoria Alimentos">
        <p>Alimentos</p> 
    </a>
    <a href="#" class="navlink">
        <img src="images/categorias/bebidas.svg" alt="Icono de la categoria Bebidas">
        <p>Bebidas<p>
    </p>
    <a href="#" class="navlink">
        <img src="images/categorias/indumentaria.svg" alt="Icono de la categoria Indumentaria">
        <p>Indumentaria</p>
    </a>
    <a href="#" class="navlink">
        <img src="images/categorias/juegos.svg" alt="Icono de la categoria Juegos">
        <p>Juegos</p>
    </a>
    <a href="#" class="navlink">
        <img src="images/categorias/automotor.svg" alt="Icono de la categoria Automotor">
        <p>Automotor</p>
    </a>
    <a href="#" class="navlink">
        <img src="images/categorias/hogar.svg" alt="Icono de la categoria Hogar">
        <p>Hogar</p>
    </a>
    <a href="#" class="navlink">
        <img src="images/categorias/otros.svg" alt="Icono de la categoria Otros">
        <p>Otros</p>
    </a>
</nav>