<article class="cart-product">
    <div class="cart-product-info-left">
        <img src=<%=imagen %>>
        <%= nombre %>
    </div>
    <div class="cart-product-info-right">
        <a href="#" class="cart-product-remove">Quitar</a>
        <input class="cart-product-number" type="number" value=<%= cantidad %> min="1">
        <p class="cart-product-precio"><%= puntos %></p>
    </div>
</article>