<article class="card-producto">
  <img src="images/producto-generico.png" alt="imagen del producto" />
  <div class="contenido">
    <h4 class="titulo">NOMBRE DEL PRODUCTO O SERVICIO</h4>
    <p class="precio">XX.XXX</p>
    <span>PUNTOS</span>
  </div>
</article>
