<header>
    <h1 class="logo">
        <span class="logo-pt1">Mi</span><span class="logo-pt2">Ecommerce</span>
    </h1>
    <% if (loggedIn) { %>
        <input class="search-bar" type="text" placeholder="Buscar productos...">
        <nav class="header-nav">
            <a href="/cart" class="fa-stack fa-1x">
                <i class="fa-solid fa-cart-shopping fa-stack-1x header-icon header-shopping-cart"></i>
                <div class="header-shopping-cart-number">2</div>
            </a>
            <a href="#" class="header-icon user-card">
                <img src="/images/Ellipse 1.svg" alt="Foto de usuario">
                <span>Olivia</span>
            </a>
        </nav>
    <% } %>
</header>