
<div class="menuContainer" id="userMenu">
    <div class="user">
        <img src="images/Ellipse 1.png" alt="imagen">
        <p>Olivia</p>
    </div>
    <div class="linea"></div>
    <div class="opciones">
        <p>Inicio</p>
        <p>Mis Compras</p>
        <p>Favoritos</p>
        <p>Historial</p>
    </div>
    <div class="linea"></div>
    <div class="tema">
        <img src="images/Vector (2).png" alt="">
        <p>Cambiar a Tema Claro</p>
    </div>
</div>
    
