@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
  --verde: #0cb093;
  --negro: #333;
  --blanco: #FFF;
  --primary-color: #efefef;
  --gris-oscuro: #494f51;
  --button-color:#494f51;
  --button-focus-color: #494f51;
  --secondary-color: #fff;
  --switch-black-white: black;
  --font-color: #000000;
  --header-color: rgba(255, 255, 255, 0.25);
  --searchbar-color: rgba(0, 0, 0, 0.5);
  --products-number-color: white;
}

.darkMode {
  --primary-color: #222222;
  --secondary-color: #494F51;
  --switch-black-white: white;
  --font-color: #FFFFFF;
  --button-color: #222222;
  --button-focus-color: #333;
  --header-color: rgba(0, 0, 0, 0.25);
  --searchbar-color: rgba(255, 255, 255, 0.5);
  --products-number-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

body {
  background-color: var(--primary-color);
  min-height: 100vh;
  position: relative;
  padding-top: 85px !important;
}

.button-hover {
  cursor: pointer;
}

.button-hover:hover {
  background-color: var(--verde);
  transition: 0.5s;
}

.hidden {
  display: none;
}