@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
@import url("./globales.css");
header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background: var(--primary-color);
    backdrop-filter: blur(4px);
    padding: 20px;
    gap: 12px;
}

.logo {
    color: #0CB093;
    user-select: none;
}

.logo-pt1 {
    font-weight: 800;
}

.logo-pt2 {
    font-weight: 300;
}

.search-bar {
    width: 70%;
    height: 32px;
    padding-left: 20px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: url(/images/Search.svg) no-repeat;
    background-position: right 10px bottom 5px;
    background-size: 20px;
    background-color: var(--secondary-color);
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.header-icon {
    color: white;
    padding: 4px;
}

.header-shopping-cart {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-shopping-cart-number {
    font-size: 10px;
    border-radius: 20px;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
    height: 10px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-user-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.header-username {
    padding-right: 15px;
}

.navbtn {
    padding: 7px 15px;
    color: var(--blanco);
    text-decoration: none;
    border-radius: 30px;
    transition: .3s;
}

.navbtn.primary {
    background-color: var(--verde);
}

.navbtn.primary:hover {
    background-color: var(--gris-oscuro);
}

/* Inicio User Menu */

.menuContainer {
    display: block;
    position: absolute;
    top: 70px;
    right: 15px;
    width: 206px;
    height: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: var(--secondary-color);
    color: black;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    /* opacity: 0; */
    transition: height .5s;
    z-index:4;
    /* transition: opacity .4s; */
}

.menuContainer a:hover div {
    background-color: rgba(0, 0, 0, 0.15);
    
}

.menuContainer a {
    text-decoration: none;
    color: inherit;
}

.user {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 100px;
    margin: 10px;
    height: 50px;
}

.user p {
    margin-left: 10px;
    margin-top: 4px;
}

.user img {
    margin-left: 5px;

}

.opciones {
    height: 110px;
    text-align: left;
    margin-left: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.linea {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.tema {
    display: flex;
    justify-content: left;
}

.tema img {
    height: 16px;
    width: 16px;
    align-self: center;
    margin-top: 7px;
    margin-left: 15px;
}

.tema p {
    margin-top: 9px;
    margin-left: 12px;
}

/* .open:hover ~ .menuContainer, .menuContainer:hover {
    
    height:220px;
    
}  */

.open {
    height:220px
}

#fondoBlur {
    position : absolute ;
    top: 0;
    right:0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    opacity: 0;
    background-color: black;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }
    .header-nav {
        gap: 5px;
    }
    .header-username {
        display: none;
    }
    .logo-desktop {
        display: none;
    }
    .menuContainer {
        top:0;
        height: 100vh;
        width: 40%;
        border: 10% 0 0 10%;
        padding: 20px;
        position: absolute;
        right: -850px;
        transition: right .9s ;

    }
    .open {        
        right : 0px;
    }
    #fondoBlur {
        opacity: .4;
    }
}