@import url("./globales.css"); 

main{
    height: calc(100vh - 170px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.firstSection{
    position: absolute;
    top: 0;
    right: 0;
    height:35vh;
    width:100vw;
    background-color: var(--verde);
    border-top-color: black;
}

.Form{
    z-index: 1;
}

.Form article{
    display:flex;
    justify-content: center;
    padding-top: 15px;
}

.cuenta {
    color:var(--font-color);
}

.Form article p a  {
    text-decoration: underline;
}

.container{
    padding-left:30px;
    padding-right:30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 16px;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 300px;
    width: 80vw;
    max-width: 370px;
}

.titulo{
    margin-bottom: 30px;
    color: var(--font-color);
}

.titulo h1{
    font-size: 40px;
    font-weight: normal;
}

.input-form{
    width: 100%;
    height: 36px;
    border-radius: 16px;
    padding: 8px 16px;
    outline: 0 none;
    display: block;
    margin-bottom: 18px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: var(--secondary-color);
}
.input-form::placeholder {
    color: rgba(153, 153, 153, 1);
}

.button-form{
    width: 100%;
    height: 36px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: grey;
}

.info {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.secondSection{
    height: calc(100vh - 40vh);

    background-color: var(--primary-color);
}
.errors {
    background-color: rgb(244, 162, 162);
    color: rgb(131, 29, 29);
    display:none;
}

.success {
    background-color: rgb(128, 184, 234);
    color: rgb(35, 35, 100);
}

@media (min-width: 1399.98px) {
    .Form{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .error-msg{
        color: rgb(255, 75, 43);
        text-align: center;
    }
}

#message{
    font-size: 12px;
    padding:3%;
    display:none;
    margin-bottom: 2px;

}




.input-form2{
    width: 100%;
    height: 36px;
    border-radius: 16px;
    padding: 8px 16px;
    outline: 0 none;
    display: block;
    margin-bottom: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.input-form2::placeholder {
    color: rgba(153, 153, 153, 1);
}