<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {ruta: '/css/checkout.css'}) %>
    <body>
        <%- include("../partials/header", {searchBar: true}) %>
        <main>
            <a href="/" class="back-button">
                <i class="fa-solid fa-arrow-left"></i>
                Volver
            </a>
            <h1>PROXIMAMENTE ... </h1>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>
