<!DOCTYPE html>
<html lang="es-ES">
<%- include('../partials/head.ejs', {ruta:'/css/loginAndRegister.css'}) %>

  <body>
    <%- include("../partials/header", {searchBar: false}) %>
      <main>
        <div class="firstSection">
        </div>
        <section class="Form">
          <div class="container">
            <div class="titulo">
              <h1>¡Hola!</h1>
            </div>
            <form action="/login" method="POST" class="inputs">
              <div class="inputsButton">
                <label>
                  <input class="input-form" id="email" type="email" name="email" placeholder="Tu nombre de usuario" />
                </label>
                <label>
                  <input class="input-form" id="password" type="password" autocomplete="off" name="password"
                    placeholder="Tu contraseña" />
                </label>
                <label class="check-label">
                  <input class="input-form" id="recuerdame" type="checkbox" /> <span>Recuerdame</span>
                </label>
                <button disabled class="button-form boton" type="submit" name="">Iniciar Sesión</button>
              </div>
            </form>
          </div>
          <article class="cuenta">
            <p>¿No tienes cuenta?
              <a href="/register">
                Registrate
              </a>
            </p>
          </article>
        </section>
        <div class="secondSection">
        </div>

        <% if (locals.errors) { %>
          <%- include('../partials/modal.ejs',{ title: 'Inicio de sesion incorrecto' ,
            body: 'Usuario o contraseña incorrecta' , hasSecondaryButton: false, primaryAction: 'close' , isOpen: true
            }) %>
            <% } %>
      </main>
      <%- include("../partials/footer") %>
  </body>
  <script src="/js/login.js"></script>
</html>