<footer role="contentinfo">
    <div class="footer-social">
        <i class="fa-brands fa-twitter fa-xl"></i>
        <i class="fa-brands fa-facebook fa-xl"></i>
        <i class="fa-brands fa-instagram fa-xl"></i>
        <i class="fa-brands fa-youtube fa-xl"></i>
    </div>
    <p>© MiEcommerce. Todos los derechos reservados.</p>
    <div class="footer-apps">
        <div class="app">
            <i class="fa-brands fa-apple fa-xl"></i>
            <p>App Store</p>
        </div>
        <div class="app">
            <i class="fa-brands fa-google-play fa-xl"></i>
            <p>Google Play</p>
        </div>
    </div>
</footer>