<header role="banner">
    <h1 class="logo">
        <span class="logo-pt1">Mi</span><span class="logo-pt2">E<span class="logo-desktop">commerce</span></span>
    </h1>
    <% if (searchBar) { %>
        <input role="search" class="search-bar" type="text" placeholder="Buscar productos...">
    <% } %>
    <% if (locals.userLogged) { %>
        <nav class="header-nav">
            <a href="/cart" class="button-hover header-icon header-shopping-cart">
                <i class="fa-solid fa-cart-shopping "></i>
                <% if (locals.cartNotification > 0) { %>
                    <div class="header-shopping-cart-number"><%= locals.cartNotification  %> </div>
                <% } %>
            </a>
            <button class="button-hover header-icon header-user-card " >
           <!--  onclick="document.getElementById('userMenu').classList.toggle('hidden')" -->
                <img src="/images/Ellipse 1.svg" alt="Foto de usuario">
                <span class="header-username"><%= locals.userLogged.email.split("@")[0] %></span>
            </button>
            <%- include('../partials/userMenu.ejs') %>
        </nav>
        <% } else { %>
            <nav class="header-nav">
                <a class="navbtn primary" href="/login">Iniciar Sesion</a>
                <a class="button-hover navbtn" href="/register">Registrarse</a>
                <button id="changeModeLR" class="changeModeLR">
                     <span>

                     </span>
                     <span>
                         
                    </span>
                </button>
            </nav>
        <% } %>
</header>