<%# Recibe un objeto literal de nombre producto con la siguiente estructura { urlImagen: string, nombre:string, precio:
  string } %>

<article class="card-producto">
  <a href="/products">
    <img src="<%= producto.image !== '' ? producto.image : 'images/NoImagePlaceHolder.png'%> " alt="imagen del producto" />
    <div class="contenido">
      <div class="contenedor-titulo">
        <h4 class="titulo">
          <%= producto.title %>
        </h4>
      </div>
      <div class="contenedor-precio">
        <p class="precio">
          <%= producto.price %>
        </p>
        <span>PUNTOS</span>
      </div>
    </div>
  </a>
</article>