<div class="menuContainer" id="userMenu">
    <a href="/login">
      <div class="user">
          <img src="/images/Ellipse 1.png" alt="imagen">
          <p><%= locals.userLogged.email %></p>
      </div>
    </a>
    <div class="linea"></div>
    <div class="opciones">
        <p>Inicio</p>
        <p>Mis Compras</p>
        <p>Favoritos</p>
        <p>Historial</p>
    </div>
    <div class="linea"></div>
    <div class="tema">
        <button id="changeMode">
            <img src="/images/Vector (2).png" alt="">
        </button>
        <p>Cambiar a Tema Claro</p>
    </div>
</div>
<div id="fondoBlur" class="hidden" ></div>