<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/header", {loggedIn: true}) %>
        <%- include("../partials/footer") %>
    </body>
</html>