<!DOCTYPE html>
<html lang="es-ES">

<%- include('../partials/head.ejs') %>
<link href="css/loginAndRegister.css" rel="stylesheet"  type="text/css"/>
<body>

<main>

    <section class="firstSection">
    </section>


    <div class="Form">
        <div class="container">
            <div class="titulo">
                <h1>¡Registrate!</h1>
            </div>
            <form action="#" method="POST" class="inputs">
                <div class="inputsButton">
                    <label>
                        <input class="input-form" id="email" type="email" name="email" placeholder="Tu Email" />
                    </label>
                    <label>
                        <input class="input-form"  type="password" autocomplete="off" placeholder="Tu nueva contraseña" />
                    </label>
                    <label>
                        <input class="input-form"  type="password" autocomplete="off"  placeholder="Repite tu contraseña" />
                    </label>
                    <button class="button-form" type="submit" name="">Crear Cuenta</button>
                </div>
            </form>
        </div>
        <article>
            <p>Ya tienes cuenta?
                <a href="/login">
                    Inicia Sesion
                </a>
            </p>
        </article>
    </div>








    <section class="secondSection">
    </section>

</main>




</body>
</html>